<html>
<head>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/leaflet/dist/leaflet.css">
</head>
<body>
<% include ../includes/header/nav/normal.ejs %>

<div class="container">
    <div class="row">
        <div id="mapDiv" class="col-lg-12 map-container" style="height: 400px;">

        </div>
    </div>
</div>

</body>
<script src="/requirejs/require.js" data-main="/amap/main.js"></script>
</html>