<html>
<head>
    <title>忘记密码</title>
	<!--<link href="/Inspinia/css/bootstrap.min.css" rel="stylesheet">-->
	<!--<link href="/Inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">-->
	<!--<link href="/Inspinia/css/plugins/iCheck/custom.css" rel="stylesheet">-->
	<!--<link href="/Inspinia/css/animate.css" rel="stylesheet">-->
	<!--<link href="/Inspinia/css/style.css" rel="stylesheet">-->

	<!--<link href="/Inspinia/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">-->

    <style>
        .btn-primary {
            background-color: #1ab394;
            border-color: #1ab394;
            color: #FFFFFF;
        }

        .btn-primary:hover {
            background-color: #18a689;
            border-color: #18a689;
            color: #FFFFFF;
        }

        .btn-primary:active,
        .btn-primary:focus {
            background-color: #1ab394;
            border-color: #1ab394;
            color: #FFFFFF;
        }
    </style>
</head>
<body style="background-color: white;   ">
<% include ../includes/header/nav/normal.ejs %>
<div id="contentSector" class="page-wrapper">


</div>
<script src="/requirejs/require.js" data-main="/app/forgetpwd/forgetpwdmain.js"></script>

</body>
</html>