
<div class="teacher-tool-bar agency-tool-bar clearfix">

    <div class="tool-right r">
                <span class="tool-item tool-pager">
                    <span class="pager-num">
                        <b id="searcht-nowpage" class="pager-cur"><%= nowpage%></b>/<em id="searcht-totalpage" class="pager-total"><%= totalpage%></em>
                    </span>
                    <a id="paget-prev-btn" class="pager-action pager-prev hide-text disabled"><%= profilecomponent.prevpage %></a>
                    <a id="paget-next-btn" class="pager-action pager-next hide-text disabled"><%= profilecomponent.nextpage %></a>
                </span>
    </div>
</div>
<ul class="follow-list">

</ul>