<div class="agency-profile-nav">
    <a id="agency-teacher-table" cate= "teacher" class="active"><%= profilecomponent.teachers %></a>
    <a id="agency-course-table" cate= "course"><%= profilecomponent.courses %></a>
</div>

<div class="agency-teacher-list">

</div>
<div class="agency-course-list">

</div>