<div class="ibox float-e-margins white-bg animated fadeInRight"
     style="position: absolute;top: 60px;right: 0px;width:600px;min-height: 1200px;border-left: #e7eaec thick solid;">
    <div class="ibox-title">
        <h5><%=local.auditCourse.courseAudit%></h5>
        <div class="ibox-tools">
            <a class="close-link audit-course-analysis-close">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>

    <div class="ibox-content">

        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-3">
                <div class="btn btn-primary audit-course-pass-audit"><%=local.auditCourse.pass%></div>
            </div>
            <div class="col-sm-3">
                <div class="btn btn-default audit-course-dispass-audit"><%=local.auditCourse.noPass%></div>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>
</div>
