<!--<div class="row leftmargin animated fadeInRight page-content-home">-->
    <!--<div class="row wrapper leftmargin border-bottom white-bg page-heading">-->
        <!--<div class="col-lg-8 col-md-8">-->
            <!--<div class="row wrapper border-bottom white-bg page-heading">-->
                <!--<div class="col-sm-4">-->
                    <!--<h2><%=locale.BaseInfo.Home%></h2>-->
                    <!--<ol class="breadcrumb">-->
                        <!--<li>-->
                            <!--<a href="#home"><%=locale.BaseInfo.Home%></a>-->
                        <!--</li>-->
                        <!--<li class="active">-->
                            <!--<strong><%=locale.Home.courseCalendar%></strong>-->
                        <!--</li>-->
                    <!--</ol>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row col-md-12">-->
                <!--<div class="wrapper wrapper-content">-->
                    <!--<div id="home-manage-act-calendar">-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-4 col-md-4">-->
            <!--<div class="ibox">-->
                    <!--<div class="row" id="home-manage-act-right">-->
                    <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div id="detail-container">-->
    <!--</div>-->
<!--</div>-->




<div class="row leftmargin animated fadeInRight page-content-home">
    <div class="row wrapper leftmargin border-bottom white-bg page-heading mt25 " style="border: solid 1px #e7eaec;min-height: 703px">
       <div class="col-sm-12 col-md-12">
        <div class="row tab-content">
            <ul class="sh-right-tab clearfix" style="padding-left: 0px;border-bottom: 1px solid #e7eaec;">
                <span class="pull-right small text-muted"></span>
                <li class="on" style="list-style-type:none;">
                    <a data-toggle="tab" href="#home-manage-mycourse-calendar">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <%=locale.Home.courseCalendar%>

                    </a>
                    <div class="tb-selected-indicator"></div>
                </li>
            </ul>

        </div>
       </div>
        <div class="col-lg-9 col-md-9">
            <div class="wrapper wrapper-content" style="padding-top: 0px;">

                <div class="row tab-content" style="margin-top:10px">
                    <div class="tab-pane active" id="home-manage-mycourse-calendar">

                            <div id="home-manage-act-calendar">
                            </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="ibox">
                <div class="ibox">
                    <div class="row" id="home-manage-act-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="detail-container">
    </div>
</div>



