<div class="row leftmargin animated fadeInRight page-content-home">
    <div class="row wrapper leftmargin border-bottom white-bg page-heading">

        <div class="col-lg-8 col-md-8">
            <div class="wrapper wrapper-content">
                <div class="row tab-content">
                    <ul class="nav nav-tabs">
                        <span class="pull-right small text-muted"></span>
                        <li class="active"><a data-toggle="tab" href="#audit-center-home"><i class="fa fa-calendar"></i>
                                chart</a></li>
                        <li class=""><a data-toggle="tab" href="#audit-center-course"><i class="fa fa-bell"></i>messages</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#audit-center-certify"><i class="fa fa-list-alt"></i>info</a>
                        </li>
                    </ul>

                </div>
                <div class="row tab-content">
                    <div class="tab-pane active" id="audit-center-home">
                        <div class="panel-body">
                            <div class="row" id="audit-center-home-panel">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="audit-center-course">
                        <div class="panel-body">
                            <div class="row" id="audit-center-course-panel">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="audit-center-certify">
                        <div class="panel-body">
                            <div class="row" id="audit-center-certify-panel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-4 col-md-4">
            <div class="ibox">
                <div class="ibox">
                    <div class="row" id="audit-center-act-right">
                    </div>
                    <div class="row">


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="detail-container">
    </div>
</div>
